# 기본 세팅

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
sns.set(font='Malgun Gothic',
        rc={'axes.unicode_minus':False},
        style='darkgrid')

In [3]:
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('retina')

C:\Users\Junyong\AppData\Local\Temp\ipykernel_17496\2106068084.py:2: DeprecationWarning: `set_matplotlib_formats` is deprecated since IPython 7.23, directly use `matplotlib_inline.backend_inline.set_matplotlib_formats()`
  set_matplotlib_formats('retina')

# 데이터 불러오기

In [4]:
fac=pd.read_csv('전국체육시설현황 데이터.csv',encoding='cp949')
fac.shape
fac

,시설명,시설구분코드,시설구분명,업종코드,체육시설업종코드명,시설유형코드,체육시설유형코드명,시설상태,시설도로명우편번호,시설도로명주소1,...,준공일자,휴업일자,폐업일자,국가체육시설여부,내진설계여부,자율점검대상여부,데이타출처구분코드,삭제여부,등록일시,수정일시
0,(외립석입구),P,공공,P08,간이운동장,P0801,간이운동장,정상운영,NaN,NaN,...,NaN,NaN,NaN,N,NaN,N,NaN,N,2020-02-10,2020-02-10
1,(주)한샘레포츠타운(공단점),N,신고,N10,체력단련장업,N1001,체력단련장,정상운영,15433.0,경기도 안산시 단원구 동산로 63 (원시동),...,NaN,NaN,NaN,N,NaN,Y,NaN,N,2016-12-31,2017-02-26
2,(자산경로당),P,공공,P08,간이운동장,P0801,간이운동장,정상운영,39588.0,경상북도 김천시 자산3길 16 (성내동),...,NaN,NaN,NaN,N,NaN,N,SFMS,N,2020-02-10,2021-04-29
3,볼&큐 빌리어드클럽,N,신고,N11,당구장업,N1101,당구장,정상운영,426811.0,"경기도 안산시 상록구 반석로 88, 4층 (본오동)",...,NaN,NaN,NaN,N,NaN,Y,태블릿,N,2016-12-31,2019-01-14
4,안산 힘찬 태권도,N,신고,N08,체육도장업,N0805,태권도,정상운영,15535.0,경기도 안산시 상록구 각골로 127 (본오동),...,NaN,NaN,NaN,N,NaN,Y,SFMS,N,2016-12-31,2019-03-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114004,美 Diet Boxing Club,N,신고,N08,체육도장업,N0801,권투,정상운영,7262.0,서울특별시 영등포구 영등포로 85-1 (양평동1가),...,NaN,NaN,NaN,N,NaN,Y,태블릿,N,2016-12-30,2019-01-03
114005,우리 아이풀(舊 크레피아수영장),N,신고,N07,수영장업,N0701,실내,정상운영,302800.0,대전광역시 서구 계백로 1186 (가수원동),...,NaN,NaN,NaN,N,N,N,NaN,N,2016-12-31,2018-09-19
114006,태권道장 휘영찬,N,신고,N08,체육도장업,N0805,태권도,정상운영,302812.0,"대전광역시 서구 관저동로 66 (관저동, 3층)",...,NaN,NaN,NaN,N,NaN,Y,NaN,N,2016-12-31,2018-09-20
114007,道心성인태권도,N,신고,N08,체육도장업,N0805,태권도,정상운영,1384.0,서울특별시 도봉구 방학로 175(방학동),...,NaN,NaN,NaN,N,NaN,Y,SFMS,N,2021-09-01,2021-09-01
114008,鄭골프아카데미,N,신고,N09,골프연습장업,N0901,실내,정상운영,52731.0,경상남도 진주시 초북로20번길 5-12 (초전동),...,NaN,NaN,NaN,N,NaN,Y,SFMS,N,2019-11-29,2021-12-23

# 데이터 전처리

## 시설상태와 삭제여부 칼럼의 상관관계보기

In [5]:
fac2=fac[['시설명','시설구분명','체육시설업종코드명','시설상태','시설좌표_경도','시설좌표_위도','시도명','시군구명','국가체육시설여부','삭제여부']]
fac2

,시설명,시설구분명,체육시설업종코드명,시설상태,시설좌표_경도,시설좌표_위도,시도명,시군구명,국가체육시설여부,삭제여부
0,(외립석입구),공공,간이운동장,정상운영,NaN,NaN,경상북도,김천시,N,N
1,(주)한샘레포츠타운(공단점),신고,체력단련장업,정상운영,126.797270,37.314431,경기도,안산시,N,N
2,(자산경로당),공공,간이운동장,정상운영,128.122092,36.120771,경상북도,김천시,N,N
3,볼&큐 빌리어드클럽,신고,당구장업,정상운영,126.869468,37.296411,경기도,안산시,N,N
4,안산 힘찬 태권도,신고,체육도장업,정상운영,126.872700,37.300895,경기도,안산시,N,N
...,...,...,...,...,...,...,...,...,...,...
114004,美 Diet Boxing Club,신고,체육도장업,정상운영,126.891175,37.522315,서울특별시,영등포구,N,N
114005,우리 아이풀(舊 크레피아수영장),신고,수영장업,정상운영,127.355226,36.304872,대전광역시,서구,N,N
114006,태권道장 휘영찬,신고,체육도장업,정상운영,127.340994,36.298068,대전광역시,서구,N,N
114007,道心성인태권도,신고,체육도장업,정상운영,127.032648,37.662070,서울특별시,도봉구,N,N
114008,鄭골프아카데미,신고,골프연습장업,정상운영,128.113159,35.212998,경상남도,진주시,N,N

In [6]:
fac.시도명.value_counts()

경기도        26554
서울특별시      17056
경상북도       10647
경상남도        8060
전라남도        6124
부산광역시       5929
인천광역시       5714
강원도         5194
충청북도        5063
충청남도        4341
대구광역시       4257
전라북도        4176
광주광역시       3026
대전광역시       2839
울산광역시       2662
제주특별자치도     1795
세종특별자치시      566
Name: 시도명, dtype: int64

In [7]:
fac2['시설상태']=fac2['시설상태'].replace('정상운영',1)
fac2['시설상태']=fac2['시설상태'].replace('폐업',0)
fac2['삭제여부']=fac2['삭제여부'].replace('Y',0)
fac2['삭제여부']=fac2['삭제여부'].replace('N',1)

fac2.corr() #두 칼럼 상관관계 없으므로 삭제여부 칼럼 버림

C:\Users\Junyong\AppData\Local\Temp\ipykernel_17496\2333223802.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fac2['시설상태']=fac2['시설상태'].replace('정상운영',1)
C:\Users\Junyong\AppData\Local\Temp\ipykernel_17496\2333223802.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fac2['시설상태']=fac2['시설상태'].replace('폐업',0)
C:\Users\Junyong\AppData\Local\Temp\ipykernel_17496\2333223802.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fac2['삭제여부']=fac2['삭제여부'].replace('Y',0)
C:\Users\Junyong\AppData\Local\Temp\ipykernel_17496\2333223802.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fac2['삭제여부']=fac2['삭제여부'].replace('N',1)

             시설상태   시설좌표_경도   시설좌표_위도      삭제여부
시설상태     1.000000 -0.026737 -0.046246 -0.095989
시설좌표_경도 -0.026737  1.000000  0.930975 -0.023713
시설좌표_위도 -0.046246  0.930975  1.000000 -0.021964
삭제여부    -0.095989 -0.023713 -0.021964  1.000000

In [8]:
fac=fac[['시설명','시설구분명','체육시설업종코드명','시설상태','시설좌표_경도','시설좌표_위도','시도명','시군구명','국가체육시설여부']]
fac

,시설명,시설구분명,체육시설업종코드명,시설상태,시설좌표_경도,시설좌표_위도,시도명,시군구명,국가체육시설여부
0,(외립석입구),공공,간이운동장,정상운영,NaN,NaN,경상북도,김천시,N
1,(주)한샘레포츠타운(공단점),신고,체력단련장업,정상운영,126.797270,37.314431,경기도,안산시,N
2,(자산경로당),공공,간이운동장,정상운영,128.122092,36.120771,경상북도,김천시,N
3,볼&큐 빌리어드클럽,신고,당구장업,정상운영,126.869468,37.296411,경기도,안산시,N
4,안산 힘찬 태권도,신고,체육도장업,정상운영,126.872700,37.300895,경기도,안산시,N
...,...,...,...,...,...,...,...,...,...
114004,美 Diet Boxing Club,신고,체육도장업,정상운영,126.891175,37.522315,서울특별시,영등포구,N
114005,우리 아이풀(舊 크레피아수영장),신고,수영장업,정상운영,127.355226,36.304872,대전광역시,서구,N
114006,태권道장 휘영찬,신고,체육도장업,정상운영,127.340994,36.298068,대전광역시,서구,N
114007,道心성인태권도,신고,체육도장업,정상운영,127.032648,37.662070,서울특별시,도봉구,N
114008,鄭골프아카데미,신고,골프연습장업,정상운영,128.113159,35.212998,경상남도,진주시,N

## 체육시설업종코드명 공공업종명으로 바꿔서 통일시키기& 시설명에 따라 체육시설업종코드명 변경

In [9]:
fac=fac[fac['시설상태']=='정상운영']
fac.loc[fac['체육시설업종코드명'].str.contains('간이운동장'),'체육시설업종코드명']='간이운동장'
fac.loc[fac['체육시설업종코드명'].str.contains('골프'),'체육시설업종코드명']='골프연습장'
fac.loc[fac['체육시설업종코드명'].str.contains('국궁장'),'체육시설업종코드명']='국궁장'
fac.loc[fac['체육시설업종코드명'].str.contains('빙상'),'체육시설업종코드명']='빙상장'
fac.loc[fac['체육시설업종코드명'].str.contains('수영장'),'체육시설업종코드명']='수영장'
fac.loc[fac['체육시설업종코드명'].str.contains('승마'),'체육시설업종코드명']='승마장'
fac.loc[fac['체육시설업종코드명'].str.contains('야구장'),'체육시설업종코드명']='야구장'
fac.loc[fac['체육시설업종코드명'].str.contains('요트'),'체육시설업종코드명']='요트장'
fac.loc[fac['체육시설업종코드명'].str.contains('간이운동장'),'체육시설업종코드명']='간이운동장'
fac.loc[fac['체육시설업종코드명'].str.contains('카누'),'체육시설업종코드명']='조정카누장'
fac.loc[fac['체육시설업종코드명'].str.contains('가상체험 체육시설업|당구장업|무도장업|무도학원업|스키장업|썰매장업|인공암벽장업|자동차경주장업|기타시설'),'체육시설업종코드명']='기타시설'
fac.loc[fac['체육시설업종코드명'].str.contains('종합체육시설업|체력단련장업|체육관|체육교습|체육도장'),'체육시설업종코드명']='기타체육시설(체력단련장)'
fac.loc[fac['체육시설업종코드명'].str.contains('승마'),'체육시설업종코드명']='승마장'

fac.loc[fac['시설명'].str.contains('공원|운동장'),'체육시설업종코드명']='간이운동장'
fac.loc[fac['시설명'].str.contains('농구|탁구|배드민턴|다목적구장|배트민턴'),'체육시설업종코드명']='간이운동장'
fac.loc[fac['시설명'].str.contains('체육시설|체육 시설|동네체육|동네 체육'),'체육시설업종코드명']='기타체육시설(체력단련장)'
fac.loc[fac['시설명'].str.contains('골프'),'체육시설업종코드명']='골프연습장'
fac.loc[fac['시설명'].str.contains('국궁'),'체육시설업종코드명']='국궁장'
fac.loc[fac['시설명'].str.contains('게임|Game') & fac['시설명'].str.contains('X|엑스'),'체육시설업종코드명']='롤러스케이트장'
fac.loc[fac['시설명'].str.contains('인라인'),'체육시설업종코드명']='롤러스케이트장'
fac.loc[fac['시설명'].str.contains('빙상'),'체육시설업종코드명']='빙상장'
fac.loc[fac['시설명'].str.contains('사격'),'체육시설업종코드명']='사격장'
fac.loc[fac['시설명'].str.contains('BMX|사이클|MTB'),'체육시설업종코드명']='사이클경기장'
fac.loc[fac['시설명'].str.contains('크로스컨트리|알파인|바이애슬론|스키|스노보드|노르딕'),'체육시설업종코드명']='설상경기장'
fac.loc[fac['시설명'].str.contains('수영'),'체육시설업종코드명']='수영장'
fac.loc[fac['시설명'].str.contains('승마'),'체육시설업종코드명']='승마장'
fac.loc[fac['시설명'].str.contains('씨름'),'체육시설업종코드명']='씨름장'
fac.loc[fac['시설명'].str.contains('야구'),'체육시설업종코드명']='야구장'
fac.loc[fac['시설명'].str.contains('양궁'),'체육시설업종코드명']='양궁장'
fac.loc[fac['시설명'].str.contains('요트'),'체육시설업종코드명']='요트장'
fac.loc[fac['시설명'].str.contains('육상'),'체육시설업종코드명']='육상경기장'
fac.loc[fac['시설명'].str.contains('게이트볼'),'체육시설업종코드명']='전천후게이트볼장'
fac.loc[fac['시설명'].str.contains('카누|조정'),'체육시설업종코드명']='조정카누장'
fac.loc[fac['시설명'].str.contains('체육관|국민체육|체육센터'),'체육시설업종코드명']='체육관'
fac.loc[fac['시설명'].str.contains('축구|풋살|족구|클럽하우스'),'체육시설업종코드명']='축구장'
fac.loc[fac['시설명'].str.contains('테니스'),'체육시설업종코드명']='테니스장'
fac.loc[fac['시설명'].str.contains('하키'),'체육시설업종코드명']='하키장'


fac.shape

(92415, 9)

In [10]:
fac['시도명'].value_counts()

경기도        21170
서울특별시      12482
경상북도        9379
경상남도        6746
전라남도        5295
부산광역시       4738
인천광역시       4380
충청북도        4345
강원도         4279
전라북도        3745
충청남도        3716
대구광역시       3243
광주광역시       2536
대전광역시       2320
울산광역시       2024
제주특별자치도     1541
세종특별자치시      476
Name: 시도명, dtype: int64

In [11]:
fac[fac['시설구분명']=='공공']

,시설명,시설구분명,체육시설업종코드명,시설상태,시설좌표_경도,시설좌표_위도,시도명,시군구명,국가체육시설여부
0,(외립석입구),공공,간이운동장,정상운영,NaN,NaN,경상북도,김천시,N
2,(자산경로당),공공,간이운동장,정상운영,128.122092,36.120771,경상북도,김천시,N
8,신리 봉계초등학교 (강당뒤),공공,간이운동장,정상운영,NaN,NaN,경상북도,김천시,N
9,성당뒤,공공,간이운동장,정상운영,NaN,NaN,경상북도,김천시,N
11,개나리 공원 야외운동기구,공공,간이운동장,정상운영,128.187963,36.586970,경상북도,문경시,N
...,...,...,...,...,...,...,...,...,...
113683,판교공원 X-Game장,공공,롤러스케이트장,정상운영,127.097822,37.395369,경기도,성남시,N
113866,용인시여성회관YMCA스포츠센타,공공,기타체육시설(체력단련장),정상운영,127.095500,37.320524,경기도,용인시,N
113867,용인시여성회관YMCA스포츠센터,공공,기타체육시설(체력단련장),정상운영,127.095500,37.320524,경기도,용인시,N
113868,용인시여성회관YMCA스포츠센터수영장,공공,수영장,정상운영,127.095500,37.320524,경기도,용인시,N
113983,기(岐)암리 동네체육시설,공공,기타체육시설(체력단련장),정상운영,127.698832,36.686969,충청북도,청주시,N

# 전국 체육시설

## 시도별 개수 비율

In [ ]:
fac_sum=fac['시도명'].value_counts().sum()
fac_sum

In [ ]:
fac_vs=(fac.groupby(['시도명'])['시설명'].count()/fac_sum)
fac_vs=fac_vs.to_frame()
fac_vs=fac_vs.reset_index()
fac_vs.sort_values(by='시설명',ascending=False)

## 업종별 개수 비율

경북 대구 충북 광주 충남 서울 전남 세종 전북 대전 울산 제주 부산 강원 경기 인천 경남

In [13]:
city = '부산광역시'

In [14]:
fac_gb = fac.groupby(['시도명','체육시설업종코드명']).시설상태.count().reset_index()

In [15]:
fac_gov = fac.loc[fac.시설구분명 == '공공']
fac_gov_gb = fac_gov.groupby(['시도명','체육시설업종코드명']).시설상태.count().reset_index()

In [16]:
fac_pri = fac.loc[fac.시설구분명 != '공공']
fac_pri_gb = fac_pri.groupby(['시도명','체육시설업종코드명']).시설상태.count().reset_index()

In [17]:
fac_gb['비율'] = fac_gb[fac_gb.시도명 == city].시설상태 / fac_gb[fac_gb.시도명 == city].시설상태.sum()
fac_gov_gb['비율'] = fac_gov_gb[fac_gov_gb.시도명 == city].시설상태 / fac_gov_gb[fac_gov_gb.시도명 == city].시설상태.sum()
fac_pri_gb['비율'] = fac_pri_gb[fac_pri_gb.시도명 == city].시설상태 / fac_pri_gb[fac_pri_gb.시도명 == city].시설상태.sum()

In [18]:
fac_gov_gb.loc[fac_gov_gb.시도명 == city][['체육시설업종코드명','시설상태','비율']].sort_values(by='시설상태', ascending = False)

         체육시설업종코드명  시설상태        비율
139          간이운동장   463  0.418248
143  기타체육시설(체력단련장)   396  0.357724
157            체육관    47  0.042457
158            축구장    45  0.040650
155       전천후게이트볼장    38  0.034327
159           테니스장    37  0.033424
148            수영장    24  0.021680
144        롤러스케이트장    17  0.015357
151            야구장    11  0.009937
142           기타시설     6  0.005420
140          골프연습장     5  0.004517
145            빙상장     4  0.003613
141            국궁장     2  0.001807
149            승마장     2  0.001807
156          조정카누장     2  0.001807
154          육상경기장     2  0.001807
150            씨름장     1  0.000903
153            요트장     1  0.000903
152            양궁장     1  0.000903
147         사이클경기장     1  0.000903
146            사격장     1  0.000903
160            하키장     1  0.000903

# **a 결론 - 지역별) 체육시설 개수비율 대비 금/은/동 개수비율

In [19]:
df=pd.read_csv('지역별 체력통계.csv',encoding='cp949')
df['시군구']=df['센터 시군구명'].str.split(expand=True)[0]
df2=df[['센터 시도명','시군구','측정년도','측정횟수','유소년 회원 수','청소년 회원 수','성인 회원 수','노인 회원 수','남성 회원수','여성 회원수','금상 수상 건수','은상 수상 건수','동상 수상 건수','참가상 수상 건수']]
df2['센터 시도명']=df2['센터 시도명'].replace('경기','경기도')
df2['센터 시도명']=df2['센터 시도명'].replace('서울','서울특별시')
df2['센터 시도명']=df2['센터 시도명'].replace('충북','충청북도')
df2['센터 시도명']=df2['센터 시도명'].replace('부산','부산광역시')
df2['센터 시도명']=df2['센터 시도명'].replace('전남','전라남도')
df2['센터 시도명']=df2['센터 시도명'].replace('경북','경상북도')
df2['센터 시도명']=df2['센터 시도명'].replace('강원','강원도')
df2['센터 시도명']=df2['센터 시도명'].replace('광주','광주광역시')
df2['센터 시도명']=df2['센터 시도명'].replace('전북','전라북도')
df2['센터 시도명']=df2['센터 시도명'].replace('경남','경상남도')
df2['센터 시도명']=df2['센터 시도명'].replace('인천','인천광역시')
df2['센터 시도명']=df2['센터 시도명'].replace('대전','대전광역시')
df2['센터 시도명']=df2['센터 시도명'].replace('충남','충청남도')
df2['센터 시도명']=df2['센터 시도명'].replace('대구','대구광역시')
df2['센터 시도명']=df2['센터 시도명'].replace('제주','제주특별자치도')
df2['센터 시도명']=df2['센터 시도명'].replace('세종','세종특별자치시')
df2['센터 시도명']=df2['센터 시도명'].replace('울산','울산광역시')
df2

C:\Users\Junyong\AppData\Local\Temp\ipykernel_17496\3410721661.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('경기','경기도')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_17496\3410721661.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('서울','서울특별시')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_17496\3410721661.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('충북','충청북도')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_17496\3410721661.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('부산','부산광역시')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_17496\3410721661.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('전남','전라남도')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_17496\3410721661.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('경북','경상북도')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_17496\3410721661.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('강원','강원도')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_17496\3410721661.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('광주','광주광역시')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_17496\3410721661.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('전북','전라북도')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_17496\3410721661.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('경남','경상남도')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_17496\3410721661.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('인천','인천광역시')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_17496\3410721661.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('대전','대전광역시')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_17496\3410721661.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('충남','충청남도')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_17496\3410721661.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('대구','대구광역시')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_17496\3410721661.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('제주','제주특별자치도')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_17496\3410721661.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('세종','세종특별자치시')
C:\Users\Junyong\AppData\Local\Temp\ipykernel_17496\3410721661.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['센터 시도명']=df2['센터 시도명'].replace('울산','울산광역시')

,센터 시도명,시군구,측정년도,측정횟수,유소년 회원 수,청소년 회원 수,성인 회원 수,노인 회원 수,남성 회원수,여성 회원수,금상 수상 건수,은상 수상 건수,동상 수상 건수,참가상 수상 건수
0,서울특별시,서초구,2021,388,0,45,273,70,266,122,40,89,110,149
1,서울특별시,강동구,2022,670,0,23,412,235,447,223,56,147,174,293
2,서울특별시,마포구,2022,885,4,62,556,263,596,289,70,169,220,426
3,서울특별시,송파구,2014,1476,0,47,1124,305,590,886,24,126,328,998
4,서울특별시,서초구,2022,416,0,15,277,124,262,154,38,94,92,192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,경상남도,창원시,2022,55,14,13,16,12,46,9,6,17,8,24
177,제주특별자치도,서귀포시,2014,3685,0,97,2432,1156,1472,2213,104,411,868,2302
178,제주특별자치도,제주시,2021,37,0,1,32,4,27,10,3,6,6,22
179,세종특별자치시,세종시,2021,589,0,29,345,215,201,388,49,99,146,295
180,세종특별자치시,세종시,2022,1537,4,1169,313,51,1086,451,77,177,289,994

## 공공+민간 모두

In [27]:
df2_ratio=df2.copy()
df2_ratio['Gold']=df2_ratio['금상 수상 건수']/df2_ratio['측정횟수']
df2_ratio['Silver']=df2_ratio['은상 수상 건수']/df2_ratio['측정횟수']
df2_ratio['Bronze']=df2_ratio['동상 수상 건수']/df2_ratio['측정횟수']
df2_ratio['Part']=df2_ratio['참가상 수상 건수']/df2_ratio['측정횟수']
df2_gb=df2_ratio.groupby(['센터 시도명'])[['Gold','Silver','Bronze','Part']].mean()*100
df2_gb=df2_gb.reset_index()
df2_gb.sort_values(by='Gold',ascending=False)
df2_ratio=df2.copy()
df2_ratio['튼튼']=(df2_ratio['금상 수상 건수']+df2_ratio['은상 수상 건수']+df2_ratio['동상 수상 건수'])/df2_ratio['측정횟수']
df2_ratio['Part']=df2_ratio['참가상 수상 건수']/df2_ratio['측정횟수']

df2_gb=df2_ratio.groupby(['측정년도','센터 시도명'])[['튼튼','Part']].mean()
df2_gb=df2_gb.reset_index()
df2_gb

    측정년도 센터 시도명        튼튼      Part
0   1972    경기도  0.000000  1.000000
1   2010    경기도  0.000000  1.000000
2   2010  서울특별시  0.000000  0.000000
3   2010   전라북도  0.000000  1.000000
4   2011    강원도  0.500000  0.500000
..   ...    ...       ...       ...
77  2022  인천광역시  0.842105  0.157895
78  2022   전라남도  0.334479  0.665521
79  2022   전라북도  0.495318  0.504682
80  2022   충청남도  0.444363  0.555637
81  2022   충청북도  0.385576  0.614424

[82 rows x 4 columns]

## 공공만

In [21]:
pub_fac=fac[fac['시설구분명']=='공공']
pub_fac
pub_fac_sum=pub_fac['시도명'].value_counts().sum()
pub_fac_sum
pub_fac_vs=(pub_fac.groupby(['시도명'])['시설명'].count()/pub_fac_sum)*100
pub_fac_vs=pub_fac_vs.to_frame()
pub_fac_vs=pub_fac_vs.reset_index()
pub_fac_vs.sort_values(by='시설명',ascending=False)
merge_pubfac_df2 = pd.merge(pub_fac_vs,df2_gb, how='inner', left_on='시도명', right_on='센터 시도명').drop(columns='센터 시도명')
merge_pubfac_df2.rename(columns={'시설명': '시설개수비율'},inplace=True)
merge_pubfac_df2.sort_values(by='시설개수비율',ascending=False)
merge_pubfac_df2.corr()

          시설개수비율      측정년도        튼튼      Part
시설개수비율  1.000000 -0.155052 -0.006320  0.029368
측정년도   -0.155052  1.000000  0.344958 -0.250255
튼튼     -0.006320  0.344958  1.000000 -0.764890
Part    0.029368 -0.250255 -0.764890  1.000000

## 민간만

In [22]:
priv_fac=fac[(fac['시설구분명']=='신고')|(fac['시설구분명']=='등록')]
priv_fac
priv_fac_sum=priv_fac['시도명'].value_counts().sum()
priv_fac_sum
priv_fac_vs=(priv_fac.groupby(['시도명'])['시설명'].count()/priv_fac_sum)*100
priv_fac_vs=priv_fac_vs.to_frame()
priv_fac_vs=priv_fac_vs.reset_index()
priv_fac_vs.sort_values(by='시설명',ascending=False)
merge_privfac_df2 = pd.merge(priv_fac_vs,df2_gb, how='inner', left_on='시도명', right_on='센터 시도명').drop(columns='센터 시도명')
merge_privfac_df2.rename(columns={'시설명': '시설개수비율'},inplace=True)
merge_privfac_df2.sort_values(by='시설개수비율',ascending=False)
merge_privfac_df2.corr()

          시설개수비율      측정년도        튼튼      Part
시설개수비율  1.000000 -0.319222 -0.150607  0.047862
측정년도   -0.319222  1.000000  0.344958 -0.250255
튼튼     -0.150607  0.344958  1.000000 -0.764890
Part    0.047862 -0.250255 -0.764890  1.000000